* {
    background-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color:lightseagreen;
    width: 10px;
    font-weight: bold;
    padding-bottom: 0px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    
}
h1 {
    color: black;
    font-weight: bold;
    background-size: 0 auto;
    padding: 2px 2px 2px 2px;
    margin: 0px;
    border: 0cm;
    white-space: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
   
    
}
section {
    
    float: center;
    background-color:white;
    border-image-width: 300px;
}
*{
    box-sizing: border-box;
    
}
h2 {
    width: 200;
}
a{ 
    color: aqua;
    font-weight: bold;
}